<h1 class='page-title'>Edit Author</h1>
<p>{{ author.name}}</p>


<div class='container'>

        <div class='form-group'>
            <label for='isbn'>Id</label>
            <input type='text' class='form-control' id='id'  [(ngModel)]='author.id' placeholder='Enter author id' disabled>
        </div>
        
        <div class='form-group'>
            <label for='title'>Author Name</label>
            <input type='text' class='form-control' id='name'  [(ngModel)]='author.name' aria-describedby='titlelHelp' placeholder='Enter author name'>
            <small id='titleHelp' class='form-text text-muted'>Enter Author Name</small>
        </div>
        
        <div class='form-group'>
            <label for='author'>Biography</label>
            <input type='text' class='form-control' id='biography'  [(ngModel)]='author.biography'   aria-describedby='authorlHelp' placeholder='Enter author biography'>
            <small id='authorHelp' class='form-text text-muted'>Enter the biography of the author</small>
        </div>
        
        <div class='form-group'>
            <label for='price'>Email</label>
            <input type='text' class='form-control' id='email'  [(ngModel)]='author.email'   aria-describedby='pricelHelp' placeholder='Enter author email id'>
            <small id='priceHelp' class='form-text text-muted'>Enter the value email id of the author</small>
        </div>
        
        <button class='btn btn-primary btn-lg' (click)='onEditAuthor()'>Update Author</button>

        <ul class='error'>
            <li *ngFor='let error of errors' class='text-danger'>{{error}}</li>
        </ul>
</div>